// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-info-left{
  display: flex;
}

.business-image img{
  margin-right: 10px;
}

.business-info {
  width: 116%;
  display: flex;
  justify-content: space-between;
}

.business-address {
  width: 50%;
  justify-content: flex-end;
  list-style: none;
}

.map  {
  width: 33.33%;
}
