// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
  font-family: helvetica;
  min-width: 1100px;
}

.nav-bar{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #d32323;
}

.grubs-link {
  text-align: center;
}

.session-links {
  display: flex;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form {
  display: flex;
  max-width: 70%;
  min-height: 500px;
  margin-top: 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.session-img {
  margin: auto;
  padding-left: 100px;
  width: 50%;
}

.session-img img {
  width: 90%
}

.nav-login {
  text-align: center;
  font-weight: 700px;
  font-size: 12px;
}

.nav-login-link {
  text-decoration: none;
  color: #0073bb;
}

.nav-login-link:hover {
  text-decoration: underline;
}

.nav-signup {
  text-align: right;
  color: #999;
  font-size: 12px;
}

.nav-login-signup {
  text-decoration: none;
  color: #0073bb;
}

.nav-login-signup:hover {
  text-decoration: underline;
}


.login-form-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.login-form-box input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
  border: solid 1px black;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
}

.message {
  color: #d32323;
  font-size: 21px;
  font-weight: bold;
  font-family: helvetica;
  text-align: center;
}

.button {
  background-color: #d32323;
  border-color: #8d0005;
  color: white;
  cursor: pointer;
  font-weight: 700px;
}

.button:hover {
  background-color: #c91400;
}

.demo-login {
  background-color: #3b5998;
  border-color: #263961;
  color: white;
  font-size: 14px;
  font-weight: 700px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: solid 1px black;
  width: 100%;
  box-sizing: border-box;
}

.demo-login:hover {
  cursor: pointer;
  background-color: #3B5982
}

.errors {
  display: flex;
  background-color: #fcd6d3;
  padding: 15px 15px 15px 24px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 50%;
  font-size: 16px;
  justify-content: space-between;
}

.list-errors {
  list-style: none;
}

.close-errors {
  display: flex;
}

.close-button {
  position: relative;
  float: right;
  font-size: 24px;
  margin-top: -3px;
  cursor: pointer;
  color: #666;
  opacity: 0.5;
}
