.business-show-container {
  display: flex;
  width: 1000px;
  margin: auto;
}

.business-details {
  display: flex;
  flex-direction: column;
}

.business-details-address{
  justify-content: flex-end;
  list-style: none;
  border: 1px solid #ccc;
  background: #fff;
}

.business-details-address li a {
  color: #0073bb;
  text-decoration: none;
}

.business-details-address li a:hover {
  text-decoration: underline;
}

.top-shelf-grey {
  width: 100%;
  z-index: -1;
  position: absolute;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  height: 400px;
}
