.filter-wrapper {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  width: 1000px;
  align-items: center;
}

.filter-title {
  margin-right: 30px
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-button {
  border: 1px solid #ccc;
  padding: 8px 11px;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  margin-right: 20px;
}

.filter-button:hover {
  box-shadow: 3px 3px 5px #ddd
}
