.footer {
  display: flex;
  border-top: 1px solid #ccc;
  background-color: #eee;
}

.footer-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.footer-menu {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0 15px;
}

.footer-menu h3 {
  color: #d32323;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.footer-menu li{
  list-style: none;
}

.footer-menu li a{
  text-decoration: none;
  color: #0073bb;
}

.linkedin:hover {
  width: 30px;
  height: 30px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_30/v1511466491/linkedin-logo-copy_pdq4jt.png")
}

.linkedin {
  width: 30px;
  height: 30px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_30/v1512115468/linkedin-logo-copy_pdq4jt_vximdh.png")
}

.github {
  width: 30px;
  height: 30px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_30/v1512116165/github-512_fy2div.png")
}

.github:hover {
  width: 30px;
  height: 30px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_30/v1512116048/github-512_myckup.png")
}
