.header-container {
  display: flex;
  width: 100%;
  background-color: #d32323;
  justify-content: center;
}

.header-nav {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  ;
}

.header-nav-links {
  display: flex;
  width: 100%;
  background-color: #bd1f1f;
}

.nav-links {
  display: flex;
  width: 70%;
  margin: auto;
  padding-right: 5px;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  padding: 3px 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
}

.restaurants-button {
  color: #fff;
  padding: 3px 15px;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  background-color: #bd1f1f;
  border: none;
  margin-left: -12px;
}

.restaurants-button:hover {
  background-color: #981616;
  cursor: pointer;
}

.header-nav-links a:hover {
  background-color: #981616
}


.header-search-bar {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
}

.header-search-bar input {
  padding: 10px;
  width: 300px !important;
  height: 25px;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
}

.header-search-bar button{
  background-color: #bd1f1f;
  padding: 14px 20px 13px;
  border-radius: 0 4px 4px 0;
  border: 0;
  box-shadow: none;
}

.header-search-bar button:hover {
  cursor: pointer;
  background-color: #981616;
}
