.nav-center{
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: flex-end;
}

.nav-home {
  display: flex;
  height: 100px;
  background-color: transparent;
}

.title {
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Lobster';
  font-size: 50px;
  text-align: center;
}

.title-link {
  width: 300px;
  margin: auto;
}


.login-link {
  text-decoration: none;
  padding: 9px 12px 8px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.login-link:hover {
  border-bottom: 2px solid white;
}

.signup-link {
  text-decoration: none;
  border: 2px solid white;
  color: #fff;
  border-radius: 4px;
  padding: 7px 24px 8px;
  font-size: 14px
}

.signup-link:hover {
  background-color: #fff;
  color: #666;
}

.greeting {
  display: flex;
  font-family: helvetica;
  color: white;
  font-size: 12px;
}

.current-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  padding: 10px 10px 0px 10px;
  margin-bottom: 6px;
}

.profile-pic img {
  border-radius: 4px;
  width: 33px;
}

.home-logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 24px 8px;
  font-size: 14px;
  color: white;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #666;
}

.home-img {
  height: 600px;
  background-image: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511460921/pexels-photo-106343_bt1fsy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.home-nav-links-container {
  display: flex;
  width: 100%;
  background-color: transparent;
}

.home-nav-links {
  display: flex;
  width: 70%;
  margin: auto;
  padding-right: 5px;
  padding-top: 20px;
  justify-content: center;
}

.home-nav-links button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 3px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
}

.home-nav-links button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home-search-bar {
  display: flex;
  margin: auto;
}
