.business-index {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
}


.business-list {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.business-profile {
  display: flex;
}

.business-link a{
  text-decoration: none;
  color: #0073bb;
}

.business-link a:hover{
  text-decoration: underline;
}
