.business-index {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  ;
}

.business-index h2{
  color: #d32323;
  font-weight: bold;
}


.business-list {
  display: flex;
  flex-direction: column;
  width: 66.67%;
}

.business-profile {
  display: flex;
}

.business-link a{
  text-decoration: none;
  color: #0073bb;
}

.business-link a:hover{
  text-decoration: underline;
}
