.review-index-item-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.recommended-reviews {
  display: flex;
  color: #d32323;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 6px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}

.business-review-name {
  margin-left: 5px;
  font-weight: normal;
  color: #333;
}

.reviews-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 20px;
}


.reviews-list ul {
  padding: 0;
}

.review-index-wrapper {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  height: 100px;
}

.review-index-wrapper:first-child {
  padding-top: 5px;
}

.review-index-container {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.user-profile {
  display: flex;
  width: 200px;
}

.review-user {
  display: flex;
  padding-top: 10px;
}


.user-review {
  display: flex;
  width: 400px;
  padding-left: 30px;
  flex-direction: column;
}

.review-rating {
  display: flex;
  color: #d32323;
}

.review-body {
  margin-top: 10px;
}

.red-star-1 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 20px;
  height: 20px;
}
.red-star-1-5 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 30px;
  height: 20px;
}
.red-star-2 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 40px;
  height: 20px;
}
.red-star-2-5 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 50px;
  height: 20px;
}
.red-star-3 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 60px;
  height: 20px;
}
.red-star-3-5 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 70px;
  height: 20px;
}
.red-star-4 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 80px;
  height: 20px;
}
.red-star-4-5 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 90px;
  height: 20px;
}
.red-star-5 {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/v1511935148/untitled_fxcn0o.svg");
  width: 100px;
  height: 20px;
}
