
.search-bar {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  width: 50%;
  height: 33px;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
  border: 0;
}

.search-icon {
  background-color: #d32323;
  padding: 14px 20px 13px;
  border-radius: 0 4px 4px 0;
  border: 0;
  box-shadow: none;
}

.search-icon img{
  height: 24px;
  width: 24px;
}

.search-icon:hover {
  cursor: pointer;
  background-color: #c91400;
}
